* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(172, 39, 88);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLink {
    color :rgba(69, 9, 32, 1);
    text-decoration: none;
}
.navItem{
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.productsContainer {
    min-height: 30vh;
    display: grid;
    place-items: center;
}